{{#each userDataArray}}
  <div class="modal-container" data-user-id="{{ this.id }}">
    <div class="modal-header">
      <div style="margin-right: 20px;">
        {{!-- Make the cloudinary links work --}}
        {{!-- <img src="{{ this.profile_pic }}">  --}}
        <img src={{ this.profile_pic }}>
      </div>
      <div style="font-weight: bold;">
        <h3>{{ this.first_name }} {{ this.last_name }}</h3>
       <p>Age: {{ age this.date_of_birth }}  </p> 
        <p></p>
      </div>
    </div>
    <div>
      <h3>Bio:</h3>
      <p>{{ this.biography }}</p>
    </div>
    <div>
      <h3>Context:</h3>
      <p>{{ this.context }}</p>
    </div>
  </div>
{{/each}}