<section style="margin-right: 20px; color: red;">
{{#each grandParentsDadArray}}
  <div class="modal-container">
    <div class="modal-header">
      <div style="margin-right: 20px;">
        {{!-- <img src="{{ this.profile_pic }}"> --}}
        <img src="../../public/assets/image/ProfilePhoto.png">
      </div>
      <div style="font-weight: bold;">
        <h3>{{ this.first_name }} {{ this.last_name }}</h3>
        {{!-- <p>{ Relationship }</p> --}}
        <p> D.O.B: {{ this.date_of_birth }} </p>
       <p>Age: {{ age this.date_of_birth }}  </p> 
        <p></p>
      </div>
    </div>
    <div>
      <h3>Bio:</h3>
      <p>{{ this.biography }}</p>
    </div>
    <form action="/api/user/{{ this.id }}" method="GET">
      <button type="submit">+</button> 
      {{!-- Mack style above button --}}
    </form>
  </div>
{{/each}}
{{#each grandParentsMumArray}}
  <div class="modal-container">
    <div class="modal-header">
      <div style="margin-right: 20px;">
        {{!-- <img src="{{ this.profile_pic }}"> --}}
        <img src="../../public/assets/image/ProfilePhoto.png">
      </div>
      <div style="font-weight: bold;">
        <h3>{{ this.first_name }} {{ this.last_name }}</h3>
        {{!-- <p>{ Relationship }</p> --}}
        <p> D.O.B: {{ this.date_of_birth }} </p>
       <p>Age: {{ age this.date_of_birth }}  </p> 
        <p></p>
      </div>
    </div>
    <div>
      <h3>Bio:</h3>
      <p>{{ this.biography }}</p>
    </div>
    <form action="/api/user/{{ this.id }}" method="GET">
      <button type="submit">+</button> 
      {{!-- Mack style above button --}}
    </form>
  </div>
{{/each}}
</section>