
<div style="display:flex;flex-direction:row;align-items:center;justify-content:center;">

<section id="card-section">
  
  {{#each mumArray}}
  <div data-user-id="{{ this.id }}" class="card-container position-relative" data-user-id="{{ this.id }}" >
    <div class="avatar-container position-absolute" style="width: 60px;">
      <!-- Add code to place corresponding family member profile -->
      <img width="50" height="50" class="avatar" src="https://i.dailymail.co.uk/i/pix/2013/03/01/article-2286814-183B611A000005DC-986_306x463.jpg" alt="">
    </div>
    <div class="plus-button">+</div>
    <a href="/api/user/card/{{this.id}}">
    <div class="name-container"> {{ this.first_name }} <br> {{ this.last_name }} </div>
    </a>
    </div>
     <form action="/api/user/{{ this.id }}" method="GET">
      <button type="submit">+</button> 
      {{!-- Mack style above button --}}
    </form>

  {{/each}}
  
</section>


<section>
  <div class="t-shape-large">
    <div class="intersection"></div>
  </div>
</section>


<section id="card-section">
  
  {{#each dadArray}}
  <div data-user-id="{{ this.id }}" class="card-container position-relative" data-user-id="{{ this.id }}" >
    <div class="avatar-container position-absolute" style="width: 60px;">
      <!-- Add code to place corresponding family member profile -->
      <img width="50" height="50" class="avatar" src="https://i.dailymail.co.uk/i/pix/2013/03/01/article-2286814-183B611A000005DC-986_306x463.jpg" alt="">
    </div>
    <div class="plus-button">+</div>
    <a href="/api/user/card/{{this.id}}">
    <div class="name-container"> {{ this.first_name }} <br> {{ this.last_name }} </div>
    </a>
    </div>
     <form action="/api/user/{{ this.id }}" method="GET">
      <button type="submit">+</button> 
      {{!-- Mack style above button --}}
    </form>

  {{/each}}
  
</section>

</div>






