<section style="display:flex;align-items:center;justify-content:center" >
  {{#each selfArray}}
  <div data-user-id="{{ this.id }}"  class="card-container position-relative">
    <div class="avatar-container position-absolute" style="width: 60px;">
      <!-- Add code to place corresponding family member profile -->
      <img width="50" height="50" class="avatar" src="https://i.pinimg.com/1200x/1c/51/90/1c5190da53e99bd9599eb44145ce1f47.jpg" alt="">
    </div>
    <a href="/api/user/card/{{this.id}}">
    <div class="name-container">{{ this.first_name }} <br> {{ this.last_name }}</div>
    </a>
    <form action="/api/user/{{ this.id }}" method="GET">
        <button type="submit" class="plus-button">+</button>
      </form>
  </div>
  {{/each}}
</section>


