<div class="modal-container">
        <div class="modal-header">
            <div style="margin-right: 20px;">
                <img src="./assets/image/ProfilePhoto.png">
            </div>
            <div style="font-weight: bold;">
                <h3>{{name}} {{last.name}}</h3>
                <p> {{relationship}} </p>
                <p>{{age}} |  {{DOB}} y</p>
                <p></p>
            </div>
        </div>
        <div>
            <h3>Bio:</h3>
            <p>{{biography}}</p>
        </div>
    </div>